@import url('https://fonts.thu.fail/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');

@mixin sans {
  font-family: 'Source Sans Pro', 'Noto Sans SC', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'PingFang SC',
    'Microsoft YaHei', /* Good luck Linux users */ sans-serif;
}

@mixin serif {
  font-family: 'Source Serif Pro', 'Noto Serif SC', serif;
}

@mixin monospace {
  font-family: 'Source Code Pro', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

body {
  background: #212121;
  color: white;
  @include sans;
}

nav {
  display: flex;
  padding: 0 20px;
  background: #333;
  box-shadow: rgba(0,0,0,.3) 0 4px 12px;
  @include monospace;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;

  z-index: 10;
}

.tab {
  line-height: 80px;
  font-size: 24px;

  opacity: .7;
  transition: opacity;
  padding: 0 20px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &.active {
    font-weight: bold;
    opacity: 1;
    cursor: default;
  }
}

main {
  padding: 20px 40px;
  margin-top: 80px;
}

.box {
  padding: 30px;
  box-shadow: rgba(0, 0, 0, .3) 0 2px 6px;
  background: #333;
  margin-top: 20px;
  border-radius: 4px;
}

.title {
  @include monospace;
  font-size: 24px;
  font-weight: bold;
}

.group {
  margin: 10px 0;

  label {
    font-size: 12px;
    opacity: .54;
    display: block;
  }

  span {
    @include monospace;
  }
}

.small-attrs {
  display: flex;

  .group {
    flex: 1;
  }
}

.sep {
  padding: 0 10px;
  opacity: .38;
  font-weight: normal;

  &.wide {
    padding: 0 30px;
  }
}

.plen {
  font-weight: normal;
}

.kind {
  font-weight: normal;
  opacity: .38;
}

.actions {
  margin-top: 20px;
}

button {
  outline: 0;
  border: none;
  background: rgba(0,0,0,.2);
  border-left: #09506d 5px solid;
  padding: 10px 15px;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;

  opacity: .87;
  transition: opacity .2s ease;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.routing {
  @include monospace;
  font-size: 24px;
  font-weight: bold;
}

hr {
  border: none;
  height: 5px;
  background: rgba(255,255,255,.2);
  margin: 20px;
}

.block {
  background: rgba(255,255,255,.1);
  padding: 5px 15px;
}

.route {
  display: flex;
  justify-content: space-between;
}

.backdrop {
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,.4);
  backdrop-filter: blur(4px);

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;

  &.shown {
    opacity: 1;
    pointer-events: all;
  }
}

.dialog {
  width: 350px;
  padding: 25px 30px;
  background: #333;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.3) 0 4px 12px;
}

.dialog-title {
  font-size: 24px;
  font-weight: bold;
}

select, input {
  outline: 0;
  border: none;
  background: rgba(0,0,0,.5);
  font-size: 18px;
  display: block;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  width: 100%;
  color: inherit;
}

.input-hint {
  font-size: 12px;
  opacity: .54;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}